/* ========================= */
/* TITULO */
/* ========================= */

#titulo-contacto{
    width:90%;
    margin:60px auto;
}

#titulo-contacto h1{
    font-family:"Cormorant Garamond", serif;
    font-size:82px;
    color:#4b362d;
    font-weight:400;
}

.linea-contacto{
    width:700px;
    height:4px;
    background:#b89c76;
    margin:10px 0 20px;
}

#titulo-contacto h2{
    text-align:center;
    font-size:55px;
    color:#4b362d;
    font-family:Arial,sans-serif;
}

#titulo-contacto strong{
    font-weight:700;
}

/* ========================= */
/* CONTENEDOR PRINCIPAL */
/* ========================= */

#contenedor-contacto{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:center;
    gap:80px;
    margin-bottom:80px;
}

/* ========================= */
/* DATOS */
/* ========================= */

.datos-contacto{
    width:380px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.card-contacto{
    background:white;
    border:1px solid #e5e5e5;
    border-radius:10px;
    padding:25px;
    box-shadow:0 0 8px rgba(0,0,0,0.05);
}

.card-contacto h3{
    font-size:28px;
    color:#4b362d;
    margin-bottom:10px;
}

.card-contacto p{
    font-size:22px;
}

/* ========================= */
/* FORMULARIO */
/* ========================= */

.formulario-contacto{
    width:550px;
    border:1px solid #e5e5e5;
    border-radius:10px;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.formulario-contacto input{
    height:60px;
    border:1px solid #ddd;
    border-radius:8px;
    padding-left:20px;
    font-size:18px;
}

.formulario-contacto textarea{
    height:150px;
    border:1px solid #ddd;
    border-radius:8px;
    padding:20px;
    font-size:18px;
    resize:none;
}

.formulario-contacto button{
    height:65px;
    border:none;
    border-radius:8px;
    background:#d8cfbd;
    color:white;
    font-size:22px;
    font-weight:600;
    cursor:pointer;
}