/* ================================================= */
/*                 TITULO SERVICIOS                  */
/* ================================================= */

#titulo-servicios{

    text-align:center;

    margin-top:60px;

    margin-bottom:80px;
}

#titulo-servicios h1{

    font-family:"Georgia", serif;

    font-size:72px;

    font-weight:300;

    color:#4b362d;

    margin-bottom:15px;

    letter-spacing:1px;
}

#titulo-servicios .linea-titulo{

    width:400px;

    height:3px;

    background:#b69a7a;

    margin:0 auto 25px auto;
}

#titulo-servicios h2{

    font-family:Arial, sans-serif;

    font-size:32px;

    font-weight:400;

    color:#4b362d;

    letter-spacing:2px;
}

#titulo-servicios strong{

    font-weight:700;
}

/* ==========================
SECCION FACIALES
========================== */

.seccion-facial{
    background:#4b362d;
    padding:140px 0 80px 0;
    margin-top:60px;
}

.encabezado-facial{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    margin-bottom:50px;
}

.img-servicio{
    width:420px;
    border-radius:50px;
}

.texto-facial h3,
.texto-facial h3{
    color:white;
    font-size:48px;
    margin-bottom:30px;
    font-family:Georgia, serif;
}

.btn-reserva{
    background:white;
    color:#4b362d;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
}

/* ==========================
TABLA
========================== */

.tabla-precios{
    width:70%;
    margin:auto;
    background:#f4efef;
    border-radius:30px;
    padding:30px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,
td{
    border:2px solid #222;
    padding:20px;
    text-align:center;
}

th{
    font-size:28px;
    color:#4b362d;
}

/* ==========================
CAPILARES
========================== */

.seccion-capilar{
    padding:80px 0;
    background:#f5f5f5;
}

.seccion-capilar h3{
    color:#4b362d;
    margin-bottom:50px;
    font-family:Georgia, serif;
}

.seccion-capilar .btn-reserva{
    background:#4b362d;
    color:white;
}

.texto-capilar h3{
    color:#4b362d;
    font-size:52px;
    font-weight:400;
    margin-bottom:25px;
}

.encabezado-capilar{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    margin-bottom:50px;
}